.sign-container
  %h3.text-center
    Login or Sign Up
  = simple_form_for :user, url: logins_url do |f|
    = f.input :email, label: 'email', input_html:{value: params[:id]}
    = f.input :password, label: 'password (do not enter facebook password)'
    = f.submit 'get in'