.users
  - users.each do |user|
    = render partial: 'user', locals: {user: user}
.clearfix
- if users.next_page.present?
  .view-more
    = link_to 'view more', users_path(query: params[:query], gender: params[:gender], page: (params[:page].present? ? params[:page].to_i + 1 : 2)), class: 'nav-item block'