.sign-container
  %h3.text-center
    Login
  = simple_form_for(resource, as: :user, url: session_path(:user)) do |f|
    = f.input :email, label: 'email', input_html:{value: params[:id]}
    = f.input :password, label: 'password'
    = f.submit 'get in'


