.simple_form.user {
  border: none;
}
.block {
  border: 1px solid black;
  background-color: blue;
  border-radius: 5px;
  color: black;
}
input[type='submit'] {
  margin-bottom: 12px;
  border: 1px solid black;
  font-size: 24px;
  background-color: blue;
}
textarea {
  border: 1px solid blue !important;
}
.user {
  padding: 12px;
  padding-bottom: 12px;
}
.user-thumb {
  background-color: pink;
  padding: 12px;
}
.image {
  padding: 12px;
}
.placeholder {
  width: 80%;
  margin: auto;
}
.image img {
  width: 100%;
}
.nav-item {
  display: inline-block;
}
.nav-item:hover {
  text-decoration: none;
}
.nav {
  background-color: darkblue;
  padding: 12px;
}
.nav-item {
  padding: 4px 12px;
  margin-left: 12px;
}
.nav-item:hover {
  color: yellow;
}
.scrap-portal {
  padding: 12px;
  margin:12px;
  background-color: pink;
}
.map-ico {
  width: 100px;
}
input[type='submit'] {
  margin-bottom: 12px;
}
.sign-container {
  width: 100%;
  max-width: 400px;
  justify-content: center;
  margin: auto;
  border: 2px solid #a2626d;
  margin-top: 12px;
}
.question {
  background-color: pink;
}
.answer {
  background-color: #eff7fa;
}
.question, .answer {
  padding: 4px 12px;
}
.response-content {
  margin-bottom: 12px;
}
.search {
  padding: 8px;
  margin: 12px;
  border-radius: 10px;
}
.search-gender {
  padding: 12px;
  border-radius: 10px;
  margin: 8px;
  background-image: linear-gradient(blue, red, black);
  color: white;
  display: inline-block;
}
.search-gender:hover {
  text-decoration: none;
}